<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="https://ntabgoba.shinyapps.io/daichi/" target="_blank">Apps</a></li>
<li><a href="/paper">Papers</a></li>
<li><a href="http://jiozlens.blogspot.jp/"  target="_blank">Random Thoughts</a></li>
<li><a href="/cv">CV</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:">ntabgoba@gmail.com</a></li>
   </ul>
  </footer>
  </body>

</html>
